.page-container {
    padding: 115px 64px 0px 64px;
}

.title-section-wrapper {
    height: calc(100vh - 115px);
    padding-bottom: 60px;
}

.title-section-container {
    height: 100%;
    background-image: url("../../../../../assets/global/white-wall-mock.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fw-400 {
    font-weight: 400;
}

.squared {
    border-radius: 0;
}

.academic-section-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 115px);
}

.academic-section-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.academic-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 13vw;
}

.graduation-picture {
    height: 30vw;
}

.skills-section-wrapper {
    display: flex;
    flex-direction: column;
    > app-image-text-section {
        padding-top: 5rem;
    }
}
