<div class="page-container">
    <div class="title-section-wrapper">
        <div class="title-section-container">
            <div class="title-container">
                <div class="pb-3">
                    <h1 class="fw-400">LE DESIGN : UNE PASSION</h1>
                </div>
                <div class="d-grid col-12 col-sm-3 col-lg-2 mx-auto">
                    <button class="btn btn-dark squared" type="button" (click)="onLearnMoreButtonClicked()">
                        En savoir plus
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div #academicSection class="academic-section-wrapper">
        <div class="text-center">
            <h1>Parcours académique</h1>
        </div>
        <div class="academic-section-container">
            <div>
                <img class="graduation-picture" src="../../../../../assets/global/graduation-picture.webp" />
            </div>
            <div class="academic-description-container">
                <div>
                    <h3 class="fw-400">Cégep Marie-Victorin</h3>
                </div>
                <div class="pb-4">
                    <span>2020-2023</span>
                </div>
                <div>
                    <p>
                        Je suis passionné d'aménagements commerciaux qui permettent de laisser aller l'imagination afin
                        de créer un espace personnalisé et ergonomique. Ma communication et mon surpassement sont des
                        qualités notables qui constitueraient un atout pour les entreprises.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="skills-section-wrapper">
        <div class="text-center">
            <h1>Mes compétences</h1>
        </div>
        <ng-container *ngFor="let content of skillsContents">
            <app-image-text-section
                [content]="content"
                (buttonClick)="onImageTextSectionButtonClicked($event)"
            ></app-image-text-section>
        </ng-container>
    </div>
</div>
