/* ------- Colors ------- */
.primary-color {
    color: #6E6CD1;
}

.primary-text-color-dark {
    color: #36353A;
}

.primary-text-color-light {
    color: #FFFFFF;
}

.primary-color-bg {
    background-color: #6E6CD1;
}