<div *ngIf="project" class="grid-container">
    <div class="project-cover">
        <img [src]="project.coverImageUrl" class="cover-image" />
    </div>
    <div class="project-description p-5">
        <div>
            <p>
                {{ project.description }}
            </p>
        </div>
        <div class="d-grid">
            <a
                [routerLink]="['/' + NavbarRoutes.PortfolioProject, project.id]"
                class="btn btn-dark squared"
                type="button"
                >En savoir plus</a
            >
        </div>
    </div>
    <div class="project-title p-5">
        <div class="d-flex flex-column justify-content-center h-100">
            <h1>{{ project.title }}</h1>
            <div class="d-flex gap-2">
                <i class="bi bi-heart"></i>
                <span>20</span>
            </div>
        </div>
    </div>
    <div class="project-navigation">
        <div class="navigation-container">
            <div class="arrow-container" (click)="previous()"><i class="bi bi-arrow-left arrow"></i></div>
            <div class="arrow-container" (click)="next()"><i class="bi bi-arrow-right arrow"></i></div>
        </div>
    </div>
</div>
