<div class="presentation-section-wrapper">
    <div class="overlay presentation-bg-grid-container">
        <div class="left-pane"></div>
    </div>
    <div class="overlay presentation-container">
        <div class="presentation-image-wrapper">
            <div class="presentation-image-container">
                <div>
                    <h2 class="name">Annabel Leduc</h2>
                </div>
                <div><img class="profile-picture" src="../../../../../assets/global/profile-picture.webp" /></div>
            </div>
        </div>
        <div class="presentation-text-wrapper">
            <div class="presentation-text-container">
                <div class="pb-1">
                    <h1>DESIGNER D'INTÉRIEUR</h1>
                </div>
                <p>
                    J'ai de l'expérience dans le service à la clientèle et l'utilisation de logiciels spécialisés tels
                    qu'AutoCAD, SketchUp et les plateformes Adobe. Je suis passionné d'aménagements commerciaux qui
                    permettent de laisser aller l'imagination afin de créer un espace personnalisé et ergonomique. Ma
                    communication et mon surpassement sont des qualités notables qui constitueraient un atout pour les
                    entreprises.
                </p>
                <div class="presentation-text-btn-container pt-4">
                    <div class="pe-2">
                        <a [routerLink]="'/' + NavbarRoutes.Contact" type="button" class="btn btn-dark squared"
                            >Me contacter</a
                        >
                    </div>
                    <div>
                        <a
                            [routerLink]="'/' + NavbarRoutes.Portfolio"
                            type="button"
                            class="btn btn-outline-dark squared"
                            >Mon portfolio</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="projects-section-wrapper">
    <div class="projects-section-container">
        <div class="projects-description-container">
            <div class="pb-5">
                <h3 class="fw-400">Un espace qui vous ressemble</h3>
            </div>
            <div class="pb-3">
                <p>
                    Je travaille étroitement avec mes clients pour comprendre leurs besoins et leurs désirs, puis je
                    transforme leurs idées en espaces de vie magnifiquement conçus et fonctionnels. Chez moi, chaque
                    projet est unique, tout comme mes clients.
                </p>
            </div>
            <div class="d-grid col-12 col-md-4 col-lg-3 mx-auto">
                <a [routerLink]="'/' + NavbarRoutes.Portfolio" type="button" class="btn btn-dark squared"
                    >Mon portfolio</a
                >
            </div>
        </div>
        <div>
            <img class="project-picture" src="../../../../../assets/global/kitchen-design.webp" />
        </div>
    </div>
</div>

<div class="services-section-wrapper">
    <div class="services-section-container">
        <div class="text-center">
            <h1>Services</h1>
        </div>
        <div class="services-container">
            <div class="services-step-container">
                <span>01</span>
                <h3>Plan d'aménagement et dessins sur mesure</h3>
            </div>
            <div class="services-step-container">
                <span>02</span>
                <h3>Recherche de mobilier et accessoires</h3>
            </div>
            <div class="services-step-container">
                <span>03</span>
                <h3>Suivi de chantier</h3>
            </div>
            <div class="services-step-container">
                <p>
                    Je prends en charge chaque étape du projet, de la conception initiale à la réalisation finale, afin
                    de vous offrir une expérience sans tracas. Je travaille rapidement et efficacement pour vous offrir
                    des résultats impressionnants en un temps record. Avec moi, vous pouvez vous asseoir, vous détendre
                    et profiter de votre nouvel espace magnifiquement conçu.
                </p>
            </div>
            <div class="d-grid col-12 col-sm-3 col-lg-2 mx-auto">
                <a [routerLink]="'/' + NavbarRoutes.Contact" type="button" class="btn btn-dark squared">Me contacter</a>
            </div>
        </div>
    </div>
</div>
