<div class="presentation-section-wrapper">
    <div class="overlay presentation-bg-grid-container">
        <div class="left-pane"></div>
    </div>
    <div class="overlay presentation-container">
        <div class="presentation-image-wrapper">
            <div class="presentation-image-container">
                <div>
                    <h2 class="name">Annabel Leduc</h2>
                </div>
                <div><img class="profile-picture" src="../../../../../assets/global/profile-picture.webp" /></div>
            </div>
        </div>
        <div class="presentation-text-wrapper">
            <div class="presentation-text-container">
                <div class="pb-1">
                    <h1>DESIGNER D'INTÉRIEUR</h1>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                </p>
                <div class="presentation-text-btn-container pt-4">
                    <div class="pe-2">
                        <a [routerLink]="'/' + NavbarRoutes.Contact" type="button" class="btn btn-dark squared"
                            >Me contacter</a
                        >
                    </div>
                    <div>
                        <a
                            [routerLink]="'/' + NavbarRoutes.Portfolio"
                            type="button"
                            class="btn btn-outline-dark squared"
                            >Mon portfolio</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services-section-wrapper">
    <div class="text-center pb-4">
        <h1>Services</h1>
    </div>
    <div class="services-container">
        <div class="card service text-center">
            <img src="../../../../../assets/global/interior-design-1.webp" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Premier contact</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                </p>
            </div>
        </div>
        <div class="card service text-center">
            <img src="../../../../../assets/global/interior-design-2.webp" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Conception</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                </p>
            </div>
        </div>
        <div class="card service text-center">
            <img src="../../../../../assets/global/interior-design-3.webp" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Réalisation</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book
                </p>
            </div>
        </div>
    </div>
</div>
