/* You can add global styles to this file, and also import other style files */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: auto !important;
}

/* ------- Colors ------- */
$accent-color: #d9d3cb;
$accent-color-lighter: #ece3d9;
$primary-text-color: #000000;
$primary-text-color-lighter: #4d4d4d;
