/* You can add global styles to this file, and also import other style files */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* ------- Colors ------- */
.accent-color {
  color: #d9d3cb;
}

.accent-color-lighter {
  color: #ece3d9;
}

.primary-color {
  color: #6e6cd1;
}

.primary-text-color-dark {
  color: #36353a;
}

.primary-text-color-ligther {
  color: #4d4d4d;
}

.primary-text-color-light {
  color: #ffffff;
}

.primary-color-bg {
  background-color: #6e6cd1;
}
