<div class="page-container">
  <div class="contact-container">
    <div class="pb-5">
      <h1>Me contacter</h1>
    </div>
    <div class="mb-3">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </p>
    </div>
    <div class="d-grid gap-2 col-12 col-sm-6 mx-auto mb-5">
      <button class="btn btn-dark form-btn" type="button">
        Demander un estimé
      </button>
    </div>
    <div>
      <a class="contact-link" href="tel:4385251998">(438) 525-1998</a>
    </div>
    <div>
      <a class="contact-link" href="mailto:annaleduc15@outlook.com"
        >annaleduc15@outlook.com</a
      >
    </div>
    <div class="d-flex gap-3 justify-content-center mt-3">
      <a
        class="bi bi-linkedin social-icon"
        href="https://www.linkedin.com/in/annabel-leduc-464325265/"
        target="_blank"
      ></a>
      <a
        class="bi bi-instagram social-icon"
        href="https://www.instagram.com/anna_leduc15/"
        target="_blank"
      ></a>
    </div>
  </div>
</div>
