@import "../../../../../styles.scss";

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 115px);
    margin-top: 115px;
}

.contact-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    text-align: center;
    justify-content: center;

    @media (max-width: 480px) {
        max-width: 100%;
    }
}

.form-btn-wrapper {
    display: flex;
    justify-content: center;
}

.form-btn {
    border-radius: 0px;
}

.social-icon {
    font-size: 20px;
    color: black;
    &:hover {
        color: $primary-text-color-lighter;
    }
}

.contact-link {
    color: $accent-color;
    &:hover {
        color: $accent-color-lighter;
    }
}
