<nav
    class="navbar"
    [ngClass]="{
        'bg-transparent': !solidBg,
        'bg-white shadow-sm bg-body': solidBg
    }"
>
    <ul class="navbar-list">
        <li class="navbar-item">
            <a class="" [routerLink]="NavbarRoutes.Home" routerLinkActive="active-route">Accueil</a>
        </li>
        <li class="navbar-item">
            <a class="" [routerLink]="NavbarRoutes.Portfolio" routerLinkActive="active-route">Portfolio</a>
        </li>
        <li class="navbar-item">
            <a class="" [routerLink]="NavbarRoutes.About" routerLinkActive="active-route">À propos</a>
        </li>
        <li class="navbar-item">
            <a class="" [routerLink]="NavbarRoutes.Contact" routerLinkActive="active-route">Me contacter</a>
        </li>
    </ul>
    <div class="d-flex gap-3 ps-5">
        <a
            class="bi bi-linkedin social-icon"
            href="https://www.linkedin.com/in/annabel-leduc-464325265/"
            target="_blank"
        ></a>
        <a
            class="bi bi-instagram social-icon"
            href="https://www.instagram.com/annabelleduc.designer/"
            target="_blank"
        ></a>
    </div>
</nav>
